body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
.address{
  text-align: center;
  text-transform: capitalize;
  font-size: 1.4rem;
  color: #fff;
  padding-top: 1rem;
}
.address span{
  text-transform: uppercase;
}
.fix-background-img{
  background: url('./pictures/background.png');
  margin-top: -1rem;
  height: 14rem;
  position: relative;
}
.buttons{
  text-align: center;

}
input{
  height: 2.3rem;
  width: 14rem;
  padding-left: .5rem;
  margin-top: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #fff;
  outline: none;
  font-size: 1rem;

}
input:hover{
  background: rgba(255,255,255, .8)
}
button{
  height: 2.7rem;
  width: 2.5rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: none;
  border: 1px solid black;
  background: #000;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
.search-info{
  
  /* box-shadow: 10px 8px 5px 8px white; */
  background: black;
  color: white;
  width: 16rem;
  margin: auto;
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: absolute;
  top: 9rem;
  left: 0;
  right: 0;
  border-radius: 20px;

}
.search-info p:first-child{
  text-align: center;
  font-size: .9rem;
  font-family: sans-serif;
  font-weight: bold;
}
.search-info p:last-child{
  font-size: 1rem;
  text-align: center;
  
}
.showcase{
  color: blue;
  font-size: 2rem;
  text-align: center;
  animation: move 0.5s infinite;
}
@keyframes move{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.errorMessage{
  text-align: center;
  font-size: 1.2rem;
  padding: .5 1rem;
  color: red;
}

@media (min-width: 860px){
  .search-info{
    width: 40rem;
    
  }
  .display-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 2rem;
   
  }
}